{% extends 'vacancies/base.html' %}

{% load crispy_forms_tags %}

{% block container %}

  <main class="container mt-3 pb-5">
    <div class="row mt-5">

        {% include 'vacancies/company_panel.html' with company_active=1 %}

      <div class="col-12 col-lg-8">
        <div class="card">
          <div class="card-body px-4 pb-4">
              <section class="tab-pane fade show active">
              <h2 class="h4 pt-2 pb-3">Информация о&nbsp;компании</h2>
              </section>
                {% if messages %}
                    <div class="row h-50">
                    <div class="col-sm-12 h-100 d-table align-self-center">
                        {% for message in messages %}
                         <div class="alert alert-{{ message.tags }}" role="alert">
                            <p>{{ message }}</p>
                         </div>
                    {% endfor %}
                    </div>
                </div>
                {% endif %}

              {% crispy form %}

          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}