{% extends 'vacancies/base.html' %}

{% load crispy_forms_tags %}

{% block container %}

  <main class="container mt-3 pb-5">
    <section class="col-12 col-lg-6 offset-lg-3 mt-5 card">
      <div class="card-body px-3 pb-4">
        <h1 class="h4 pt-2 pb-3">Мое резюме</h1>
          {% if messages %}
                    <div class="row h-50">
                    <div class="col-sm-12 h-100 d-table align-self-center">
                        {% for message in messages %}
                         <div class="alert alert-{{ message.tags }}" role="alert">
                            <p>{{ message }}</p>
                         </div>
                    {% endfor %}
                    </div>

                </div>
                {% endif %}

          {% crispy form %}

      </div>
    </section>
  </main>

{% endblock %}