{% extends 'vacancies/base.html' %}

{% block container %}

    <main class="container mt-3 pb-5">
    <div class="row mt-5">

        {% include 'vacancies/company_panel.html' with vacancy_active=1 %}

        <div class="col-12 col-lg-8">
            <div class="card">
                <div class="card-body px-4 pb-4">
                    <section class="tab-pane fade show active">

        <h1 class="h4 pt-2">Вакансии</h1>
        <p class="mt-2">У вас пока нет вакансий, но вы можете создать первую!</p>
        <a href="{% url 'vacancy_create' %}" class="btn btn-info mb-2">Добавить вакансию</a>
     </section>
      </div>

       </div>
      </div>
      </div>
  </main>

{% endblock %}